<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">Over mij</h3>
    <p>
     Ik ben een Web- & Applicatieontwikkelaar met ervaring van het back-end 
programmeren van websites met PHP en MySQL maar ook front- 
end HTML5, CSS3 en JavaScript. Met behulp van Apache Cordova 
weet ik ook hoe ik iOS en Android apps moet bouwen. Voor meer informatie bekijk 
      <a href="{{ site.nav.main.projecten }}">projecten</a>
    </p>  
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>  
</div>
